<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <link href="/css/style.css" rel="stylesheet" />
  <link rel="icon" href="/favicons/favicon.ico" type="image/x-icon">
  <script src="https://unpkg.com/htmx.org@2.0.2"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap" rel="stylesheet">
</head>

<body>
  <ul>
    <li class="ribeye-marrow-regular">
      <a hx-get="/home.html" hx-target="#content" hx-push-url="true">Home</a>
    </li>
    <li class="ribeye-marrow-regular">
      <a hx-get="/news.html" hx-target="#content" hx-push-url="true">News</a>
    </li>
    <li class="ribeye-marrow-regular">
      <a hx-get="/contact.html" hx-target="#content" hx-push-url="true">Contact</a>
    </li>
    <li style="float:right" class="ribeye-marrow-regular">
      <a class="active" hx-get="/about.html" hx-target="#content" hx-push-url="true">About</a>
    </li>
  </ul>

  <div id="content">
    <h1>Welcome to my website</h1>
    <p>Click on the links above to navigate</p>
  </div>

</body>

</html>
