{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block title %}John Vittorio{% endblock title %}
{% block body %}

<ul class="concert-one-regular">
  <li>
    <a hx-get="/home.html" hx-target="#content">Home</a>
  </li>
  <li>
    <a hx-get="/news.html" hx-target="#content">News</a>
  </li>
  <li>
    <a hx-get="/contact.html" hx-target="#content">Contact</a>
  </li>
  <li>
    <a hx-get="/upload.html" hx-target="#content">Upload</a>
  </li>
  <li style="float:right">
    <a class="active" hx-get="/about.html" hx-target="#content">About</a>
  </li>
</ul>

<div id="content" class="montserrat-body">
  <div id='galleries'>
    {% for gallery in galleries %}
    {{ macros::gallery_item(path=gallery.example_image_path, name=gallery.name) }}
    {% else %}
    <p>Hmm... Nothing here yet...</p>
    {% endfor %}
    <div class="clearfix"></div>
  </div>
</div>

{% endblock body %}
