{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block title %}John Vittorio{% endblock title %}
{% block body %}

<ul class="concert-one-regular navbar">
  {% if user.role =='Writer' %}
  <li>
    <a hx-post="/galleries" hx-target="#galleries" hx-swap="afterbegin">
      + Create new gallery
    </a>
  </li>
  {% endif %}
  <li style="float:right">
    <a class="active" hx-get="/about.html" hx-target="#content">About</a>
  </li>
</ul>

<div id="content" class="montserrat-body content">
  <div>
    <div id='galleries' class="unified-grid">
      {% for gallery in galleries %}
      {{ macros::gallery_item(gallery=gallery) }}
      {% else %}
      <p>Hmm... Nothing here yet...</p>
      {% endfor %}
    </div>
  </div>
</div>

<script src="js/galleries.js"></script>

{% endblock body %}
