{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block title %}John Vittorio{% endblock title %}
{% block body %}

<ul class="concert-one-regular navbar">
  <li>
    <a href="/galleries"><- Back to Galleries</a>
  </li>
  {% if user.role =='Writer' %}
  <li>
    <a hx-get="/galleries/{{gallery.id}}/upload_form" hx-target="#upload_form"
      hx-on:htmx:before-request="beforeUploadFormRequest();">
      + Upload pictures
    </a>
  </li>
  {% endif %}
  <li class="gallery-title-nav">
    <span>/ {{gallery.name}}</span>
  </li>
  <li style="float:right">
    <a class="active" hx-get="/about.html" hx-target="#content">About</a>
  </li>
  <li style="float:right">
    <a href="/logout" title="Logout {{user.email}}">
      <img src="/icons/logout.svg" alt="Logout" style="width: 18px; height: 18px; vertical-align: middle; filter: invert(94%) sepia(8%) saturate(353%) hue-rotate(15deg) brightness(100%) contrast(96%);">
    </a>
  </li>
</ul>

<div id="upload_form" class="montserrat-body"></div>
<div id="lightbox" class="montserrat-body"></div>
<div id="content" class="montserrat-body content">
  <div>
  <div id='gallery' class="unified-grid">
    {% for image in gallery.images %}
    {{ macros::image_item(path=image.path, caption=image.caption, image_id=image.id, gallery_id=gallery.id, user=user) }}
    {% endfor %}
    </div>
  </div>
</div>

<script src="/js/gallery.js"></script>

{% endblock body %}
