{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block title %}John Vittorio{% endblock title %}
{% block body %}

<ul class="concert-one-regular navbar">
  <li>
    <a href="/galleries"><- Back to Galleries</a>
  </li>
  {% if user.role =='Writer' %}
  <li>
    <a hx-get="/galleries/{{gallery_id}}/upload_form" hx-target="#upload_form"
      hx-on:htmx:before-request="beforeUploadFormRequest();">
      + Upload pictures
    </a>
  </li>
  {% endif %}
  <li style="float:right">
    <a class="active" hx-get="/about.html" hx-target="#content">About</a>
  </li>
</ul>

<div id="upload_form" class="montserrat-body"></div>
<div id="lightbox" class="montserrat-body"></div>
<div id="content" class="montserrat-body content">
  <div id='gallery'>
    {% for image in images %}
    {{ macros::image_item(path=image.path, caption=image.caption, image_id=image.id, gallery_id=gallery_id) }}
    {% else %}
    <p>Hmm... Nothing here yet...</p>
    {% endfor %}
  </div>
</div>

<script src="/js/gallery.js"></script>

{% endblock body %}
