{% extends "base.html" %}
{% block title %}John Vittorio{% endblock title %}
{% block body %}
<ul class="concert-one-regular">
  <li>
    <a hx-get="/home.html" hx-target="#content" >Home</a>
  </li>
  <li>
    <a hx-get="/news.html" hx-target="#content" >News</a>
  </li>
  <li>
    <a hx-get="/contact.html" hx-target="#content" >Contact</a>
  </li>
  <li>
    <a hx-get="/upload.html" hx-target="#content" >Upload</a>
  </li>
  <li style="float:right" >
    <a class="active" hx-get="/about.html" hx-target="#content" >About</a>
  </li>
</ul>

<div id="content" class="montserrat-body">
  <h1>Welcome to my website</h1>
  <p>Click on the links above to navigate</p>
</div>
{% endblock body %}
