{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block body %}
<form hx-post="/login" hx-trigger="submit" hx-push-url="/">
  <div class="container montserrat-body">
    <div>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
    </div>

    <div>
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
    </div>

    <button type="submit">Login</button>
  </div>
</form>
{% endblock body %}
